{% extends 'base.html.twig' %}

{% block title %}Genealogy{% endblock %}
{% block monTitre %}Liste des personnes{% endblock %}

{% block body %}

<div class="container-fluid"> 

            <div class="d-flex justify-content-center">
                <div class="col-md-1 text-center p-2 ">
                    <div
                    
                        {% if number > 0 %}
						class=" small-box bg-info" 
						{% else %}
						class=" small-box bg-danger"
						{% endif %}
                    
                     >
                        <h3 class="text-light">{{number}}</h3>
                    </div>
                </div>
            </div>


    
    {% include 'liste/_filter.html.twig' with {form: form} only %}

    <table class="table table-hover text-center">

        <thead class="table-bordered">
          <tr >
        <th class="text-center" colspan="2" scope="colgroup">Dénomination</th>
        <th class="text-center"  colspan="3" scope="colgroup">Naissance</th>
        <th class="text-center" colspan="4" scope="colgroup">Décès</th>
        <th class="text-center" colspan="2" scope="colgroup">Actions</th>
        </tr>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Décès</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Pays</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td class="pl-0 pr-0">
                        <a href="{{ path('arbre', {id: user.id}) }}?position=parent" 
                        {% if user.sexe == null %}
						style="color:black"
						{% elseif user.sexe == "f" %}
						style="color:#FFB6C1"
						{% elseif user.sexe == "m" %}
						style="color:#6495ED"
						{% endif %}
                        >
                        {% if user.nom == false %}
                            <span class="small font-italic">Non renseigné</span>
                        {% else %}
                            {{ user.nom|upper }}
                        {% endif %}
                        </a>
                    </td>
                    <td class="pl-0 pr-0">
                    {% if user.prenom == false %}
                        <span class="small font-italic">Non renseigné</span>
                    {% else %}
                        {{ user.prenom|capitalize }}
                    {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                    {% if not user.dateNaissance is null %}

                        {% if user.dateNaissance|date("j" ) == 1 %}
                            1<sup>er</sup>
                        {% else %}
                            {{user.dateNaissance|date("j" )}}
                        {% endif %}
                    

                    {% for key, value in moisNaissance %}
                        {% if user.id == key %}
                        {{value}} 
                        {% endif %}
                    {% endfor %}

                    {{user.dateNaissance|date("Y")}}

                    {% else %}
                        <span class="small font-italic">Non renseigné</span>
                    {% endif %}
                    </td>
                    <td class="pl-0 pr-0">
                        {% if user.villeNaissance %}
                            {{user.villeNaissance|capitalize}}
                        {% else %}
                            <span class="small font-italic">Non renseigné</span>
                        {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                        {% if user.paysNaissance %}
                            {{user.paysNaissance|capitalize}}
                        {% else %}
                            <span class="small font-italic">Non renseigné</span>
                        {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                        {% if user.deces == 0 %}
                            non
                        {% else %}
                            <span class="font-weight-bold">oui</span>
                        {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                    {% if not user.dateDeces is null %}

                        {% if user.dateDeces|date("j" ) == 1 %}
                            1<sup>er</sup>
                        {% else %}
                            {{user.dateDeces|date("j" )}}
                        {% endif %}

                        {% for key, value in moisDeces %}
                            {% if user.id == key %}
                            {{value}}
                            {% endif %}
                        {% endfor %}

                        {{user.dateDeces|date("Y")}}

                    {% else %}

                        {% if user.deces == 1 %}
                            <span class="small font-italic">Non renseigné</span>
                        {% endif %}

                    {% endif %}
                    </td>

                    <td class="pl-0 pr-0 row-capitalize">
                        {% if not user.villeDeces is null %}
                            {{user.villeDeces|capitalize}}
                        {% else %}
                            {% if user.deces == 1 %}
                                <span class="small font-italic">Non renseigné</span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                        {% if not user.paysDeces is null %}
                            {{user.paysDeces|capitalize}}
                        {% else %}
                            {% if user.deces == 1 %}
                                <span class="small font-italic">Non renseigné</span>
                            {% endif %}
                        {% endif %}
                    </td>


                    <td class="pl-0 pr-0"><a href="{{ path('usernode_edit', {id: user.id}) }}"><img  src="{{asset('images/update.png')}}"></a></td>
                    <td class="pl-0 pr-0"><a href=""><img style="width:20px;" src="{{asset('images/delete.png')}}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}



