{% extends 'base.html.twig' %}

{% block title %}Genealogy{% endblock %}
{% block monTitre %}Liste des personnes{% endblock %}

{% block body %}

<div class="container-fluid"> 
            <div class="d-flex justify-content-center">
                <div class="col-md-1 text-center p-2 ">
                    <div class="small-box bg-info ">
                        <h3 class="text-light">{{number}}</h3>
                    </div>
                </div>
            </div>

        {# <div class="m-4">

            <div class="row justify-content-center">
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger col-2 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div> #}

    
    {% include 'liste/_filter.html.twig' with {form: form} only %}


    <table class="table table-hover text-center">

        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Ville de naissance</th>
                <th>Pays de naissance</th>
                <th>Date de décès</th>
                <th>Lieu de décès</th>
                <th>Pays de décès</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td class="pl-0 pr-0">
                        <a href="{{ path('arbre', {id: user.id}) }}?position=parent" 
                        {% if not user.sexe is defined   %}
						style="color:black"
						{% elseif user.sexe == "f" %}
						style="color:#FFB6C1"
						{% elseif user.sexe == "m" %}
						style="color:#6495ED"
						{% endif %}
                        >
                        {% if user.nom == false %}
                            <span class="small font-italic">Non renseigné</span>
                        {% else %}
                            {{ user.nom|upper }}
                        {% endif %}
                        </a>
                    </td>
                    <td class="pl-0 pr-0">
                    {% if user.prenom == false %}
                        <span class="small font-italic">Non renseigné</span>
                    {% else %}
                        {{ user.prenom|capitalize }}
                    {% endif %}
                    </td>

                    <td class="pl-0 pr-0">
                    {% if not user.dateNaissance is null %}

                        {% if user.dateNaissance|date("d" ) == 1 %}
                            1<sup>er</sup>
                        {% else %}
                            {{user.dateNaissance|date("d" )}} 
                        {% endif %}
                    

                    {% for key, value in moisNaissance %}
                        {% if user.id == key %}
                        {{value}} 
                        {% endif %}
                    {% endfor %}

                    {{user.dateNaissance|date("Y")}}

                    {% endif %}
                    </td>
                    <td class="pl-0 pr-0">{{user.villeNaissance|capitalize}} </td>
                    <td class="pl-0 pr-0">{{user.paysNaissance|upper}}</td>
                    <td class="pl-0 pr-0">
                    {% if not user.dateDeces is null %}

                        {% if user.dateDeces|date("d" ) == 1 %}
                            1<sup>er</sup>
                        {% else %}
                            {{user.dateDeces|date("d" )}} 
                        {% endif %}

                    {% for key, value in moisDeces %}
                        {% if user.id == key %}
                        {{value}} 
                        {% endif %}
                    {% endfor %}

                    {{user.dateDeces|date("Y")}}

                    {% endif %}
                    </td>
                    <td class="pl-0 pr-0">{{user.villeDeces|capitalize}}</td>
                    <td class="pl-0 pr-0">{{user.paysDeces|capitalize}}</td>
                    <td class="pl-0 pr-0"><a href="{{ path('usernode_edit', {id: user.id}) }}"><img style="width:25px; top:20px;" class="badge badge-light d-block" src="{{asset('images/settings.png')}}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}



