{% extends 'base.html.twig' %}

{% block title %}
	Formulaire
{% endblock %}

{% block monTitre %}
	Formulaire
{% endblock %}

{% block body %}
	<div class="col-6 mx-auto mb-3">
		{{ form_start(form) }}
		<ul class="users" style="list-style-type: none">
			{% for user in form.users %}
				<div class="border border-primary my-3 p-2">
					<h4>
						{% if user.vars.name == 'personne' %}
						Personne
						{% elseif user.vars.name == 'pere' %}
						Père
						{% elseif user.vars.name == 'mere' %}
						Mère
						{% endif %}
					</h4>
					<!-- il faut faire un form_row pour chaque propriété de l'entité, parce que si on fait un simple form(user), Twig crée une nouvelle balise <form> au sein de la précédente, ce qui fait qu'il n'envoie que le premier des trois formulaires -->
					<li>{{ form_row(user.nom) }}</li>
					<li>{{ form_row(user.prenom) }}</li>
					<li>{{ form_row(user.date) }}</li>
					<li>{{ form_row(user.lieu) }}</li>
					<li>{{ form_row(user.sexe) }}</li>
					{% if user.vars.name != 'personne' %}
						<li>{{ form_row(user.check) }}</li>
					{% endif %}
				</div>
			{% endfor %}
			{{ form_row(form.envoyer) }}
		</ul>
		{{ form_end(form) }}
	</div>
{% endblock %}
